<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h1>Room Name: </h1>

<ul>
    Ok how to do this...
</ul>

</div>

</body>
</html>
