<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/fish.svg">
    </a>
    <h1>Fishbowl</h1>
    <p>This is going to be an implementation of Fishbowl.</p>
    <form action="/room-page" method="post">
      <div>
          <label for="name">Room code:</label>
          <input type="text" id="room" name="room_code">
      </div>
      <div class="button">
        <button type="submit">Send your message</button>
      </div>
    </form>
  </div>
</div>
<div class="container">
  <hr>
</div>


</body>
</html>
