<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <a href='https://www.freepik.com/free-vector/strong-goldfish-jumping-out-of-fishbowl_1311242.htm'>Designed by Freepik</a>
    </a>
    <h1>Fishbowl</h1>
    <p>This is going to be an implementation of Fishbowl.</p>
  </div>
</div>
<div class="container">
  <hr>
</div>


</body>
</html>
