<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Fishbowl</h1>
    <p>This is going to be an implementation of Fishbowl.</p>
  </div>
</div>
<div class="container">
  <hr>
</div>


</body>
</html>
