<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>Rules</h2>

<ul>
    Submit words/phrases. 4 rounds. 2 teams. Have fun!
</ul>

</div>

</body>
</html>
